{% extends "base.html" %}
{% block content %}

<!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About us......</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Welcome to Dara's Ecommerce...
          </p>
        </div>
      </div>
    </header>


    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">

                    <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nulla urna, pulvinar vel odio quis,
                     porttitor ullamcorper velit. Nulla pretium ultricies diam non tristique. Cras sed purus a libero laoreet 
                     condimentum semper id enim. Maecenas at dolor vitae est faucibus rhoncus sed in est. Pellentesque dapibus,
                      lacus vitae consequat vulputate, mi lacus facilisis nunc, in ornare urna urna a tortor. Vestibulum tristique
                       viverra risus id elementum. Nunc diam nibh, suscipit non porta vehicula, efficitur vitae nunc. Fusce sed mollis ex.
                        Vivamus blandit odio vel massa eleifend imperdiet.
                        <br></br>
                        Curabitur sagittis gravida enim, nec volutpat orci condimentum eu. Vivamus venenatis posuere lobortis.
                         Proin sodales id nisi non faucibus. Nam non arcu et mauris pellentesque finibus eu vitae magna. Nulla lacinia, nisl a convallis tincidunt,
                        purus ante vehicula libero, eu aliquet urna lectus a tellus. Ut a pellentesque nulla. In condimentum nibh et sem interdum ultricies. Fusce
   rutrum dolor id dui commodo, ullamcorper elementum sem blandit. In hac habitasse platea dictumst. Nulla auctor efficitur justo, nec viverra
    magna venenatis et. Nunc risus nunc, ornare quis convallis at, pellentesque efficitur arcu. Class aptent taciti sociosqu ad litora torquent
     per conubia nostra, per inceptos himenaeos. Proin mauris tellus, auctor eu est ac, porttitor tempus diam. Cras faucibus lobortis suscipit.

Maecenas ornare dignissim ante, in viverra libero tincidunt et. Praesent porttitor, dui sed tempor rhoncus, purus mi porta odio, non vestibulum
 tortor libero malesuada sem. Vestibulum varius imperdiet est eleifend posuere. Nulla viverra libero mi, eget lobortis nunc commodo vitae. Morbi
  vel augue dui. Aenean commodo sagittis mi, sit amet gravida nibh facilisis et. Mauris at ipsum nibh. Nullam a augue sit amet metus pretium vulputate
   nec id odio. Sed bibendum risus a ex tincidunt interdum. Nulla non feugiat risus, ac mollis tellus.
<br></br>
Fusce id lorem feugiat, lobortis enim eget, aliquet velit. Donec tempus, turpis id euismod placerat, nulla nisl gravida dui, in mattis augue erat id tortor.
 Nullam nec lacus eleifend, cursus sem sit amet, pulvinar justo. Donec pulvinar facilisis vestibulum. Phasellus fringilla feugiat libero, nec consequat ligula mattis at.
  Aliquam erat volutpat. Morbi elementum laoreet magna vitae condimentum. Nam eget sem eget elit efficitur gravida. Phasellus auctor arcu ut risus euismod consectetur.
   Maecenas ullamcorper molestie massa eu sodales. 
  Curabitur eleifend ligula in laoreet consectetur.

Mauris sed molestie enim, vitae blandit nunc. Aliquam euismod velit sollicitudin, porta purus ac, consectetur sem. Integer elementum dui vitae risus tempus suscipit.
 Maecenas suscipit bibendum enim, sit amet iaculis ligula luctus in. Etiam viverra imperdiet lobortis. Aliquam vel dui erat. Nam id quam eget ligula pharetra ultrices eu a mauris.
  In ornare volutpat ex, sed imperdiet purus mattis et. Praesent iaculis quis sapien in elementum. Quisque rutrum in dolor at malesuada. Phasellus in ligula vitae risus ultricies rutru
                    </p>
    <br></br>
                </div>
            </center>
        </div>
    </div>


{% endblock %}
